



@mixin button-gen {
    width: 171px;
    height: 56px;
    border: none;
    background: none;

    border-radius: 33px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}



body {
    background-color: #fff;
    font-family: "Kumbh Sans", system-ui;
    // overflow: hidden;
}


.header__background-img {
    position: absolute;
    width: 100%;
    transform: scale(1.5);
    transform: translateY(-30%);
}


.header {
    padding: 46px 24px 0px 24px;
    box-sizing: border-box;

    text-align: center;

    .header__illustration {
        width: 171px;
        margin-top: 80px;
        margin-bottom: 65px;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
        color: #333950;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: #747B95;
        line-height: 26px;
        margin-bottom: 25px;
    }
    
    button {
        @include button-gen();
        background-color: #5175FF;
        color: #fff;
    }
}


main {
    padding-top: 820px;
    box-sizing: border-box;
    // padding: 75px 24px 0px 24px;
    // box-sizing: border-box;
    position: relative;

    .plans__section {
        width: 100%;
        padding: 75px 24px 0px 24px;
        box-sizing: border-box;
        @include flex-column();
        gap: 18px;

        position: absolute;
        z-index: 1;
        top: 0;

        .plan__div {
            @include flex-column();
            align-items: center;
            text-align: center;
            gap: 55px ;
            border-radius: 8px;
            padding: 40px 0px;
            box-sizing: border-box;

            h5 {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 45px;
            }

            strong {
                font-size: 56px;
                font-weight: 700;
                margin-bottom: 10px;
                display: inline-block;
            }

            div {

                &:first-child {                    
                    p {
                        font-weight: 600;
                    }
                }

                &:nth-child(2) {
                    @include flex-column();
                    gap: 20px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            button {
                @include button-gen();
            }

        }

        .plan--free {
            background-color: #fff;
            box-shadow: 0px 0px 50px  rgba(51, 57, 80, 0.2);

            div {

                &:first-child {
                    color: #333950;
                }

                &:nth-child(2) {
                    color: #333950;
                }
            }

            button {
                @include button-gen();
                background-color: rgba(81, 117, 255, 0.1);
                color: #5175FF;
            }
        }

        .plan--pro {
            background-color: #5175FF;
            color: #fff;
            position: relative;
            overflow: hidden;

            button {
                background-color: #fff;
                color: #5175FF;
            }

            .plan-pro--background {
                position: absolute;
                width: 100%;
                top: -20%;
                transform: scale(2);
            }
        }

        .plan--ultimate {
            background-color: rgb(241, 241, 241);

            div {

                &:first-child {
                    color: #333950;
                }

                &:nth-child(2) {
                    color: #333950;
                }
            }

            button {
                @include button-gen();
                background-color: rgba(81, 117, 255, 0.1);
                color: #5175FF;
            }
        }

    }

    footer {

        padding: 850px 24px 100px 24px;
        box-sizing: border-box;
        text-align: center;
        color: #fff;
        background-color: #25293A;
        position: relative;
        overflow: hidden;
    
        p {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 3px;
            margin-bottom: 25px;
    
            span {
                color: #5175FF;
            }
        }
    
        .time__left {
            @include flex-row();
            justify-content: center;
            gap: 15px;
    
            div {
                @include flex-column();
                align-items: center;
                justify-content: center;
                gap: 5px;
                width: 72px;
                height: 92px;
                box-sizing: border-box;
                background-color: #333950;
                border-radius: 8px;
                z-index: 2;
                
                strong {
                    font-size: 32px;
                    font-weight: 700;
    
                }
    
                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
    
        .footer--background-img {
            width: 100%;
            position: absolute;
            bottom: 20%;
            left: 0;
            transform: scale(4);
            z-index: 0;
    
        }    
    }




}

