html {
  overflow-x: hidden; }

body {
  background-color: #fff;
  font-family: "Kumbh Sans", system-ui;
  position: relative;
  overflow-x: hidden; }

.header__background-img {
  position: absolute;
  width: 100%;
  transform: scale(1.5) translateY(-30%); }

.header {
  padding: 46px 24px 0px 24px;
  box-sizing: border-box;
  text-align: center; }
  .header .header__illustration {
    width: 171px;
    margin-top: 80px;
    margin-bottom: 65px; }
  .header h1 {
    font-size: 40px;
    font-weight: 700;
    color: #333950;
    margin-bottom: 20px; }
  .header p {
    font-size: 16px;
    font-weight: 400;
    color: #747B95;
    line-height: 26px;
    margin-bottom: 25px; }
  .header button {
    width: 171px;
    height: 56px;
    border: none;
    background: none;
    border-radius: 33px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    background-color: #5175FF;
    color: #fff; }

main {
  padding-top: 820px;
  box-sizing: border-box;
  position: relative; }
  main .plans__section {
    width: 100%;
    padding: 75px 24px 0px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    z-index: 1;
    top: 0; }
    main .plans__section .plan__div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 55px;
      border-radius: 8px;
      padding: 40px 0px;
      box-sizing: border-box; }
      main .plans__section .plan__div h5 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 45px; }
      main .plans__section .plan__div strong {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 10px;
        display: inline-block; }
      main .plans__section .plan__div div:first-child p {
        font-weight: 600; }
      main .plans__section .plan__div div:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        font-weight: 400; }
      main .plans__section .plan__div button {
        width: 171px;
        height: 56px;
        border: none;
        background: none;
        border-radius: 33px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700; }
    main .plans__section .plan--free {
      background-color: #fff;
      box-shadow: 0px 0px 50px rgba(51, 57, 80, 0.2); }
      main .plans__section .plan--free div:first-child {
        color: #333950; }
      main .plans__section .plan--free div:nth-child(2) {
        color: #333950; }
      main .plans__section .plan--free button {
        width: 171px;
        height: 56px;
        border: none;
        background: none;
        border-radius: 33px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        background-color: rgba(81, 117, 255, 0.1);
        color: #5175FF; }
    main .plans__section .plan--pro {
      background-color: #5175FF;
      color: #fff;
      position: relative;
      overflow: hidden; }
      main .plans__section .plan--pro button {
        background-color: #fff;
        color: #5175FF; }
      main .plans__section .plan--pro .plan-pro--background {
        position: absolute;
        width: 100%;
        top: -20%;
        transform: scale(2); }
    main .plans__section .plan--ultimate {
      background-color: #f1f1f1; }
      main .plans__section .plan--ultimate div:first-child {
        color: #333950; }
      main .plans__section .plan--ultimate div:nth-child(2) {
        color: #333950; }
      main .plans__section .plan--ultimate button {
        width: 171px;
        height: 56px;
        border: none;
        background: none;
        border-radius: 33px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        background-color: rgba(81, 117, 255, 0.1);
        color: #5175FF; }
  main footer {
    padding: 850px 24px 100px 24px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    background-color: #25293A;
    position: relative;
    overflow: hidden; }
    main footer p {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 3px;
      margin-bottom: 25px; }
      main footer p span {
        color: #5175FF; }
    main footer .time__left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px; }
      main footer .time__left div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 72px;
        height: 92px;
        box-sizing: border-box;
        background-color: #333950;
        border-radius: 8px;
        z-index: 2; }
        main footer .time__left div strong {
          font-size: 32px;
          font-weight: 700; }
        main footer .time__left div span {
          font-size: 12px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.6); }
    main footer .footer--background-img {
      width: 100%;
      position: absolute;
      bottom: 20%;
      left: 0;
      transform: scale(4);
      z-index: 0; }
    main footer .footer-btn {
      width: 171px;
      height: 56px;
      border: none;
      background: none;
      border-radius: 33px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      background-color: #5175FF;
      color: #fff;
      margin-top: 50px; }

@media only screen and (min-width: 768px) {
  .header__background-img {
    overflow-y: hidden;
    width: 100% !important;
    position: absolute;
    transform: scale(1.5);
    left: 50%;
    transform: translateY(-30%); }
  .header {
    padding: 72px 40px 70px 40px;
    box-sizing: border-box;
    text-align: left; }
    .header article {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      gap: 40px;
      margin-top: 50px;
      justify-content: space-between; }
      .header article .header__illustration {
        width: 281px;
        order: 2;
        margin: 0;
        transform: translateY(30px); }
      .header article hgroup {
        max-width: 500px; }
      .header article h1 {
        margin-bottom: 30px; }
    .header button {
      position: absolute;
      bottom: -50px; }
  main {
    padding-top: 550px; }
    main .plans__section {
      padding: 75px 40px 0px 40px; }
      main .plans__section .plan__div {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 175px;
        padding-left: 40px;
        padding-bottom: 140px;
        position: relative; }
        main .plans__section .plan__div h5 {
          margin-bottom: 20px; }
        main .plans__section .plan__div strong {
          margin-bottom: 15px; }
        main .plans__section .plan__div div:nth-child(2) {
          display: flex;
          flex-direction: column;
          gap: 25px;
          transform: translateY(30px); }
        main .plans__section .plan__div button {
          position: absolute;
          left: 40px;
          bottom: 50px; }
      main .plans__section .plan--pro .plan-pro--background {
        position: absolute;
        width: 100%;
        top: -53%;
        left: -31%;
        transform: scale(1.7); }
      main .plans__section .plan--ultimate {
        background-color: #f1f1f1; }
        main .plans__section .plan--ultimate div:first-child {
          color: #333950; }
        main .plans__section .plan--ultimate div:nth-child(2) {
          color: #333950; }
        main .plans__section .plan--ultimate button {
          width: 171px;
          height: 56px;
          border: none;
          background: none;
          border-radius: 33px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 700;
          background-color: rgba(81, 117, 255, 0.1);
          color: #5175FF; }
    main footer {
      padding: 600px 24px 100px 24px;
      box-sizing: border-box;
      text-align: center;
      color: #fff;
      background-color: #25293A;
      position: relative;
      overflow: hidden; }
      main footer p {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 3px;
        margin-bottom: 25px; }
        main footer p span {
          color: #5175FF; }
      main footer .time__left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px; }
        main footer .time__left div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5px;
          width: 100px;
          height: 128px;
          box-sizing: border-box;
          background-color: #333950;
          border-radius: 8px;
          z-index: 2; }
          main footer .time__left div strong {
            font-size: 56px;
            font-weight: 700; }
          main footer .time__left div span {
            font-size: 16px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6); }
      main footer .footer--background-img {
        width: 100%;
        position: absolute;
        bottom: -25%;
        left: 0;
        transform: scale(1.8);
        z-index: 0; } }

@media only screen and (min-width: 1024px) {
  .header {
    max-width: 1110px;
    margin: auto;
    padding: 81px 40px 70px 40px; }
    .header article .header__illustration {
      width: 375px; }
    .header article h1 {
      font-size: 46px; }
    .header button {
      bottom: 0px; }
  main {
    padding-top: 350px; }
    main .plans__section {
      max-width: 1110px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      padding: 100px 40px; }
      main .plans__section .plan__div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 66px;
        padding: 40px;
        text-align: center;
        position: relative; }
        main .plans__section .plan__div h5 {
          margin-bottom: 20px; }
        main .plans__section .plan__div strong {
          margin-bottom: 15px; }
        main .plans__section .plan__div button {
          position: static;
          left: 40px;
          bottom: 0px; }
      main .plans__section .plan--pro .plan-pro--background {
        position: absolute;
        width: 100%;
        top: -10%;
        left: 0;
        transform: scale(3); }
      main .plans__section .plan--ultimate {
        background-color: #f1f1f1; }
        main .plans__section .plan--ultimate div:first-child {
          color: #333950; }
        main .plans__section .plan--ultimate div:nth-child(2) {
          color: #333950; }
        main .plans__section .plan--ultimate button {
          width: 171px;
          height: 56px;
          border: none;
          background: none;
          border-radius: 33px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 700;
          background-color: rgba(81, 117, 255, 0.1);
          color: #5175FF; }
    main footer {
      padding: 400px 24px 100px 24px; } }

@media only screen and (min-width: 1300px) {
  .header__background-img {
    width: 100% !important;
    position: absolute;
    transform: scale(0.8);
    top: -30%;
    left: 35%; }
  .header {
    max-width: 1110px;
    margin: auto;
    padding: 81px 0px 70px 0px; }
    .header article .header__illustration {
      width: 475px;
      transform: translateY(50px); }
    .header article hgroup {
      transform: translateY(-20px); }
    .header article h1 {
      font-size: 56px; }
    .header button {
      bottom: 50px; }
  main {
    padding-top: 350px; }
    main .plans__section {
      padding: 100px 0px; }
    main .coming__soon {
      max-width: 1110px;
      margin: auto;
      text-align: left;
      position: relative; }
      main .coming__soon .time__left {
        justify-content: start; }
    main .footer-btn {
      position: absolute;
      margin: 0px !important;
      top: 50%;
      right: 0;
      transform: translateY(-30%); } }
